@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 27% 95%;
    --foreground: 208 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 208 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 10% 25%;
    --primary: 208 72% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 3.9% 45.1%;
    --accent: 199 100% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 20% 85%;
    --input: 208 20% 90%;
    --ring: 199 100% 42%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 208 30% 12%;
    --foreground: 0 0% 98%;
    --card: 208 25% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 208 25% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 199 100% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 14.9%;
    --muted-foreground: 210 40% 63.9%;
    --accent: 208 72% 33%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 20% 25%;
    --input: 208 20% 25%;
    --ring: 199 100% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
